ERROR_NOTIFICATION_EMAIL=name@example.com
RESEND_API_KEY=api-key
SUPA_SERVICE_ROLE_KEY=role-key
NEXT_PUBLIC_SUPA_URL=https://id.supabase.co
NEXT_PUBLIC_SUPA_ANON_KEY=id.code.key
NEXT_PUBLIC_SUPA_ADMIN_URL=https://id.supabase.co
NEXT_PUBLIC_SUPA_ADMIN_ANON_KEY=id.code.key
SUPA_DB_PASSWORD=password

# Note that 'SUPA_ADMIN' keys are used for the Supabase project managing market research data (/contribute/marketresearch ONLY)